<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <pages
           validateRequest="false"
           autoEventWireup="false"
           pageBaseType="OrionMvc.Web.View, OrionMvc"
           pageParserFilterType="OrionMvc.Web.ViewParserFilter, OrionMvc"
     >

      <controls>
        <add assembly="OrionMvc" namespace="OrionMvc" tagPrefix="mvc" />

      </controls>
      <namespaces>
        <add namespace="OrionMvc"/>
      </namespaces>
    </pages>
  </system.web>
</configuration>
