<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <clear />
      <add path="favicon.ico" verb="*" type="System.Web.StaticFileHandler"/>
      <clear/>
      <add verb="*" path="*" type="OrionMvc.Web.HttpHandler, OrionMvc"/>
    </httpHandlers>

    <httpModules>
      <!--<add name="OrionMvc.Web.OrionHttpModule" type="OrionMvc.Web.OrionHttpModule,OrionMvc"/>-->
      
    </httpModules>
    <pages>
      <namespaces>
        <add namespace="OrionMvc"/>
        <add namespace="OrionMvc.Web"/>
       <!--<add namespace="OrionMvc.Helper"/>--> 
      </namespaces>
    </pages>
  </system.web>

</configuration>
